.titulo {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

body {
    font-family: Arial, sans-serif;
    width: 35%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 10px 0 0 0;
    background-color: rgb(231, 228, 207);    
}

header{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.header div{
    width: 80%;   
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    width: 70%;
    margin-left: -500px;
    margin-top: -190px;
}

.container {
    display: flex;
    width: 150%;
    height: 60%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: -600px;
    margin-bottom: 30px;
}

canvas {
    width: 170px;
    height: 20%;
    border-radius: 7px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    margin: 0 10px;
    background-color: rgb(248, 239, 215);
}

.txt {
    display: flex;
    margin-left: -1020px;
    margin-top: 50px;
    margin-bottom: -150px;
    opacity: 70%;
}

.txt1 {
    display: flex;
    margin-left: -500px;
    margin-top: 110px;
    margin-bottom: -120px;
    opacity: 70%;
}

.txt2 {
    display: flex;
    margin-left: -2px;
    margin-top: 80px;
    opacity: 70%;
}

.txt3 {
    display: flex;
    margin-left: 500px;
    margin-top: -40px;
    opacity: 70%;
}

.txt4 {
    display: flex;
    margin-left: 950px;
    margin-top: -50px;
    margin-bottom: 20px;
    opacity: 70%;
}

.kpi-containerTop {
    display: flex;
    width: 1230px;
    justify-content: space-evenly;
    gap: 20px;
    margin: 20px 0;
    margin-bottom: 40px;
    margin-right: 20px;
    margin-left: 20px;
  }

.kpi-card {
    background-color: #769bf0;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 240px;
    height: 50px;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }

.kpi-card01 {
    background-color: #adcfd9;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 240px;
    height: 50px;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

  .kpi-card02 {
    background-color: #45d368;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 240px;
    height: 50px;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }

  .kpi-card03 {
    background-color: #f3dd6e;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 240px;
    height: 50px;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }

  .kpi-card4 {
    background-color: #ff4d4d;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 240px;
    height: 50px;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }

  /* cards a direita */
  .kpi-containerRight {
    display: flex;
    background-color: #000000;
    color:aliceblue;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 270px;
    height: 150px;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    gap: 30px;
    margin: 20px 0;
    margin-bottom: 30px;
    margin-right: -960px;
    flex-wrap: wrap;
  }
   .kpi-containerRight1 {
    display: flex;
    background-color: #000000;
    color: #769bf0;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 270px;
    height: 150px;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    gap: 30px;
    margin: 20px 0;
    margin-bottom: -90px;
    margin-top: 40px;
    margin-right: -960px;
    flex-wrap: wrap;
  }
     .kpi-containerRight2 {
    display: flex;
    background-color: #000000;
    color:#f14b4b;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 270px;
    height: 150px;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    gap: 30px;
    margin: 20px 0;
    margin-bottom: -20px;
    margin-top: 190px;
    margin-right: -960px;
    flex-wrap: wrap;
  }


 /* cards a esquerda */
  .kpi-containerLeft {
    display: flex;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 270px;
    height: 150px;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    gap: 30px;
    margin: 20px 0;
    margin-bottom: 30px;
    margin-top: -600px;
    margin-left: -960px;
    flex-wrap: wrap;
  }
   .kpi-containerLeft1 {
    display: flex;
    background-color: #43f269;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 270px;
    height: 150px;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    gap: 30px;
    margin: 20px 0;
    margin-bottom: -90px;
    margin-top: 40px;
    margin-left: -960px;
    flex-wrap: wrap;
  }
     .kpi-containerLeft2 {
    display: flex;
    background-color: #f14b4b;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 270px;
    height: 150px;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    gap: 30px;
    margin: 20px 0;
    margin-bottom: -20px;
    margin-top: 190px;
    margin-left: -960px;
    flex-wrap: wrap;
  }


   .kpi-card1 {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 200px;
    height: 30px;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }

     .kpi-card2 {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 200px;
    height: 30px;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }

     .kpi-card3 {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 200px;
    height: 30px;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }

  .kpi-card h5 {
    margin: 0;
    font-size: 0.9em;
    font-weight: bold;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  
  .kpi-card p {
    margin-right: 5000px;
    color: #555;
  }


p {
    justify-content: center;
}


