@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* LEFT BAR */
.left-bar {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 10px; */
  background-color: #f9f0d9;
}
.left-bar img {
  height: 120px;
}
.left-bar p {
  padding: 10px;
  text-align: center;
}
.left-bar button {
  width: 120px;
  height: 50px;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 18px;
}
/* LEFT BAR  */

/* CONTAINER TOP  */

.container-main {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  align-items: center;
}

.container-main .container-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 20%;
  font-size: 18px;
}
.container-main .container-top .container-metricas {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 80%;
  font-size: 18px;
}
container-main .container-top h1{
  font-size: 32px;
}
/* CONTAINER TOP */
/* METRICAS */
.box-1 {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(0deg, #ff1919, #ffc1c1);
  justify-content: space-around;
      color: white;
}
.box-2 {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(0deg, #ffae14, #ffed91);
  justify-content: space-around;
      color: white;
}
.box-3 {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(0deg, #4da659, #85ff83);
  justify-content: space-around;
      color: white;
}
.box-4 {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(0deg, #ffae14, #ffed91);
  justify-content: space-around;
      color: white;
}
.box-5 {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(0deg, #ff1919, #ffc1c1);
  justify-content: space-around;
      color: white;
}
/* METRICAS */
/* registros */
.container-main .container-dados {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.container-main .container-dados .container-registros {
  display: flex;
  flex: content;
  align-items: center;
  text-align: center;
  font-size: 15px;
  color: #ffffff;
}
.container-main .container-dados .container-registros .registro-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  background-image: url(../assets/images/hexagono-vermelho2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
  padding: 20px;
  justify-content: center;
}
.container-main .container-dados .container-registros .registro-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  background-image: url(../assets/images/hexagono-amarelo2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
  padding: 20px;
  justify-content: center;
}
.container-main .container-dados .container-registros .registro-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  background-image: url(../assets/images/hexagono-verde2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
  padding: 20px;
  justify-content: center;
}
.container-main .container-dados .container-registros .registro-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  background-image: url(../assets/images/hexagono-vermelho2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
  padding: 20px;
  justify-content: center;
}
.container-main .container-dados .container-registros .registro-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  background-image: url(../assets/images/hexagono-vermelho2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
  padding: 20px;
  justify-content: center;
}
/* GRAFICOS */

.graficos {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
}
.graficos .grafico-1 {
  padding: 0px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.graficos .grafico-2 {
  padding: 0px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
