  
   /* .divCard {
        width: 1100px;
        height: auto;
        background-color: white;
        border-radius: 25px;
        border: solid 4px rgb(243, 186, 31);
        margin: 20px;
        padding: 40px;
        font-family: monospace;
        font-weight: bold;
        font-size: 26px;
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
    }

    .divImagem {
        border-radius: 50%;
        margin-bottom: 30px;
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .imagem {
        width: 200px;
        height: 200px;
    }

    .botaoCalcular {
        width: 170px;
        height: 50px;
        font-size: 26px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: rgb(243, 186, 31);
        border: none;
        border-radius: 10px;


    }

    .botaoCalcular:hover {
        background-color: rgb(218, 168, 31);
    }

    .input {
        width: 530px;
        height: 30px;
        border-radius: 10px;
        font-size: 28px;
        margin-bottom: 5px;
        text-transform: uppercase;

    }

    .inputBTN {
        width: 45px;
        height: 45px;
        border-radius: 2px;
        font-size: 28px;
        margin-bottom: 5px;
        text-transform: uppercase;
        text-align: center;
        background-color: #ffff;

    }

    .divMensagem {
        width: 100%;
        height: 100%;
        background-color: rgb(235, 198, 77);
        border-radius: 10px;
        padding-left: 12px;
        padding-top: 5px;


    }

    .vermelho {
        color: red;
    }

    .backgroundDado {
        background-color: aliceblue;
        border-radius: 5px;
    }

    .line {
        width: 100%;
        height: 2px;
        background-color: black;
    }

    .metade_linha {
        width: 50%;
        height: 2px;
        background-color: black;
        margin-left: 5px;
    }

    .container_linha {
        display: flex;
        width: 100%;
        margin: 10px;
        justify-items: center;
        align-items: center;
        gap: 10px;
    }

    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .chart {
        display: flex;
        gap: 10px;
        align-items: end;
        margin: 20px;
        justify-items: baseline;
    }

    .linhaTabela {
        display: flex;
        gap: 10px;
        flex-direction: column;
        margin: 20px;
        justify-items: baseline;
        font-size: 22px;
    }

    .tabelas {
        display: flex;
        gap: 10px;
        align-items: end;
    }

    .tabelasRow {
        display: flex;
        gap: 10px;
    }

    .blocoBlue {
        height: 282px;
        width: 28px;
        background-color: blue;
    }

    .blocoRed {
        height: 225px;
        width: 28px;
        background-color: red;
    }

    .blocoLinhaVerde {
        height: 33.2px;
        width: 562px;
        background-color: green;
    }

    .blocoLinhaVermelho {
        height: 33.2px;
        width: 449.6px;
        background-color: red;
    }

    .data {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .dataLinha {
        display: flex;
        flex-direction: row;
    }

    .self-end {
        align-self: flex-end;
        margin-left: auto;
    }


    .column {
        display: flex;
        flex-direction: column;
        padding-bottom: 55px;
        justify-items: baseline;
        align-items: end;
    }

    .colunaLinha {
        display: flex;
        flex-direction: column;
        padding-bottom: 55px;
        justify-items: baseline;
    }*/
    /* === Estilos gerais === */
/* ============COMECO NAVBAR========= */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}
header{
    width: 100%;
    align-items: center;
    display: flex;
    margin-bottom: 50px;
}
header .container{
    display: flex;
    background-color: #DFCD9E;
    justify-content: space-between;
    padding: 0 0px;
    align-items: center;
    height: 50px;
    width: 100%;
}

header .container .navbar{
    display: flex;

}

header .container .navbar li{
    list-style: none;
    margin: 0 25px;
    font-size: 22px;
    font-weight: Semibold;
}
header .container .navbar li a{
    text-decoration: none;
    color: black;
    
}
header .container .navbar li a:hover{
    text-decoration:underline;
}

/* ============== FIM NAVBAR========= */

.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: #fff; 
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0px;
    
}


.main .divCard {
    background-color: #fbf2db; 
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 900px;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}


.main .divCard .container {
    text-align: center;
    width: 40%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8%;
}

.main .divCard .container img {
    width: 80px;
    height: 80px;
}

.main .container h1 {
    font-size: 20px;
    margin-top: 5px;
}

.main .divImagem{
    display: flex;
    align-items: center;
    margin-bottom: 12%;

}

.main .divPerguntas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    gap: 15%;
    margin-top: 10%;
    margin-bottom: 15%;
}

.main label {
    font-size: 14px;
    color: #333;
    text-align: start;
}

.main .input {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 45%;
}


.main .divBotao {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10%;

}

.main .botaoCalcular {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 25px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.main .botaoCalcular:hover {
    background-color: #333;
}


.main .divMensagem {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 45%;
    padding: 15px;
    color: #000;
    font-size: 14px;
}


.main a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin-bottom: 10px;
}

.main a:hover {
    text-decoration: underline;
}


@media (max-width: 700px) {
    .divCard {
        flex-direction: column;
        align-items: center;
    }

    .container, .divPerguntas, .divMensagem {
        width: 90%;
    }

    .divBotao {
        flex-direction: column;
        align-items: center;
    }
}
