@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}
/* INICIO HEADER */
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 0 2px;
  background-color: #080808;  /* mesma cor do fundo */
  border: 1px solid white; /* borda turquesa */
  border-radius: 12px;       /* bordas arredondadas */
  overflow: hidden;        
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
    
}

header .container .navbar{
    display: flex;

}

header .container .navbar li{
    list-style: none;
    margin: 0 25px;
    font-size: 22px;
    font-weight: Semibold;
}
header .container .navbar li a{
    text-decoration: none;
    color: #2CA6A4;
}


html{
    scroll-behavior: smooth; 
    /* APENAS PARA DEIXAR O MOVIMENTO BONITINHO */
}

/* FIM HEADER */

/* COMEÇO BANNER */
.container-banner{
    display: flex;
    height: 655px;
    width: 100%;
    background-image: url('../assets/banner.jpg');
    background-size: cover;
}

/* COMEÇO LADO ESQUERDO DO BANNER */
.container-banner .banner-texto{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    
    
}

.container-banner .banner-texto button{
    align-self: flex-start;
    height: 70px;
    width: 350px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 25px;
    font-weight: bold;
    transition: 0.5s;
    border-style: none;
}
.container-banner .banner-texto button:hover{
    background-color: rgb(251, 251, 12);
    color: black;
    width: 370px;
    height: 80px;
    cursor: pointer;
}

.container-banner .banner-texto .titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px;
}
.container-banner .banner-texto .titulo h1{
    font-size: 60px;
    margin: 0 0 20px;
    font-weight: bolder;
}
.container-banner .banner-texto .titulo p{
    font-size: 30px;
    margin: 0 0 20px;
    font-weight: bold;
}
/* FIM LADO ESQUERDO DO BANNER */

/* COMEÇO LADO DIREITO DO BANNER */
.container-banner .banner-imagem img{
    display: flex;
    margin-top: 10px;
    height: 100%;
}
/* FIM LADO DIREITO DO BANNER */

/* FIM BANNER */
/* COMECO BANNER QUEM SOMOS */
body .container-quemsomos{
    /* height: 1000px; */
    background-color: #ebd26d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-quemsomos .quemsomos-info{
    display: flex;
    align-items: center;
}
.container-quemsomos h1{
    margin-top: 100px;
}
.container-quemsomos .quemsomos-info .quemsomos-texto{
    margin-top: 10px;
    padding: 100px;
    width: 50%;
    font-size: 26px;
}
.container-quemsomos .quemsomos-info .quemsomos-img{
    margin-top: 2px;
    width: 50%;

}
.container-quemsomos .quemsomos-info .quemsomos-img img{
    width: 400px;
}

body .quemsomos img{
    width: 100%;

}

/* FIM BANNER QUEM SOMOS */

/* INICIO COMO O SISTEMA FUNCIONA */

.comofunciona {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    margin-top: 80px;
}

.comofunciona .comofunciona-banner {

    width: 1280px;
    display: flex;
    
    align-items: center;

    justify-content: center;
    margin-top: 80px;
}



.comofunciona .comofunciona-banner .boxes .icon{
    height: 40px;
   margin-bottom: 20px;
}
.comofunciona .comofunciona-banner .boxes{
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.comofunciona .comofunciona-banner .boxes .box{
    width: 270px;
    height: 140px;
    background-color: #F6C84B;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.comofunciona .comofunciona-banner .boxes .box p{
    text-align: center;
    margin-bottom: 30px;
    font-size: 15px;
}
.comofunciona .comofunciona-banner .boxes .box .numero{
    font-size: 18px;
    font-weight: bold;
    align-self: flex-start;
}
.fim{
    background-color: #F9F0D9;
    width: 100%;
}

.fim img{
    
    width: 100%;
}

/* FIM COMO FUNCIONA */
/* INICIO POR QUE ESCOLHER */
.escolher{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(0deg, transparent,#F9F0D9);
    height:900px;
}


.escolher .banner-escolher{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.escolher .banner-escolher h1{
    margin: 70px 0 ;
}

.escolher .banner-escolher .boxes{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    width: 100%;
    justify-content: space-around;
}

.escolher .banner-escolher .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    width: 30%;

}
.escolher .banner-escolher .boxes .box img{
    height: 150px;
    width: 150px;
    margin-bottom: 30px;
}

/* FIM POR QUE ESCOLHER */

.calculadora{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
    height: 700px;
}

.calculadora .calculadora-banner{
    margin-top: 90px;
    display: flex;
    height: 350px;
    background-color: #F9F0D9;
    padding: 50px;
    width: 1000px;
    justify-content: space-evenly;
    align-items: flex-start;
    border-radius: 10px;
}
.calculadora .calculadora-banner .texto li{
    margin: 40px;
    font-size: 23px;
}


.calculadora .calculadora-banner .img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculadora .calculadora-banner .img button{
    height: 70px;
    width: 250px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    transition: 0.5s;
}

.calculadora .calculadora-banner .img button:hover{
    background-color:rgb(251, 251, 12);
    color: black;
    transition: 0.5s;
    cursor: pointer;
    
}


.calculadora .calculadora-banner .img img{
    height: 270px;
}
/* FIM CALCULADORA */

/* COMECO EQUIPE */

.equipe{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
}
.banner-equipe{
    background-color: #F9F0D9;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1100px;
    border-radius: 10px;
}
.banner-equipe h1{
    margin-top: 30px;
    margin-bottom: 60px;
}

.banner-equipe .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 100px 50px ;
}

.banner-equipe .boxes1{
    display: flex;

}
.banner-equipe .boxes2{
    display: flex;
}


/* FIM EQUIPE */

/* COMECO FORMULARIO */


.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
}
.formulario .banner-formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7C53A;
    margin-top: 20px;
    width: 1100px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.formulario .banner-formulario .campos{
    display: flex;
}

.input{   
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}
.input input{
    height: 40px;
    width: 330px;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
}

.input-mensagem{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}
.input-mensagem input{
    height: 180px;
    width: 670px;
    border-radius: 10px;
    border: none;
    margin: 30px 0;
}

.banner-formulario button{
    height: 55px;
    width: 300px;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 50px;
}

.banner-formulario button:hover{
    background-color:   white;
    transition: 0.5s;
    color: black;
    cursor: pointer;
}
/* FIM FORMULARIO */

/* INICIO FOOTER */

footer{
    display: flex;
    background-color: #F7C53A;
    justify-content: space-between;
    padding: 0 80px;
}

footer .icons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .icons img{
    height: 110px;
}
footer .icons .icon img{
    height: 30px;
}

footer .textos {
    display: flex;
    align-items: flex-start;
    margin: 20  px;
}

footer .textos .texto{
    display: flex;
    flex-direction: column;
    
}

footer .textos .texto p{
    margin: 20px 50px 0;
}